:root{
    --rl-proportion:40%;
}

@font-face {
    font-family: nordic;
    src: url(./fonts/Norse-Bold.otf)
}

body{
    display: flex;
    height: 120vh;
    width: 100vw;
    margin:0px;
    background-color: black;
    color:rgb(187, 62, 12)
}

.lc{
    position: fixed;
    height: 100vh;
    width: var(--rl-proportion);
    background-image:url(./imgs/dragon.jpg);
    background-size: auto 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.banner{
    display: flex;
    background-color: rgb(0,0,0,0.85);
    height: 20%;
    position: relative;
    align-items: center;
    justify-content: center;
    gap:10px;
    top:15%;
}

#icon{
    height: 90%;
    width: auto;
    filter:invert(1);
    transform: rotate(-45deg);
}

#bannerText{
    font-family: nordic,sans-serif;
    color: white;
    font-size: 450%;
}

#credits{
    text-align: center;
    margin-bottom: 5vh;
    color: ivory;
}

#credits a:link{
    color:ivory;
}

#credits a:visited{
    color:rgb(218, 20, 20);
}

.rc{
    width: calc(100%-var(--rl-proportion));
    margin-left: var(--rl-proportion);
    padding-left: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap:10px;
}

.flavorText{
    height: 20%;
    font-size: 20px;
    line-height: 26px;
    max-width: 80%;
    word-wrap: break-word;
    font-weight: bold;
}

.text2{
    padding-top: 20px;
}

.now{
    font-style: italic;
    font-size: 1.1em;
}

.inputfield{
    background-color: rgb(49, 46, 46);
    padding:20px;
}

.
